{
	"env": {
		"browser": true,
		"es2017": true
	},
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	},
	"globals": {
		"jQuery": "readonly",
		"$": "readonly"
	},
	"rules": {
		"semi": [
			"warn",
			"always"
		]
	}
	// "plugins": [
	// 	"@babel"
	// ],
	// "parserOptions": {
	// 	"ecmaVersion": 7,
	// 	"sourceType": "module",
	// 	"allowImportExportEverywhere": false,
	// 	"ecmaFeatures": {
	// 		"globalReturn": false
	// 	},
	// 	"babelOptions": {
	// 		"configFile": "./babel.config.js"
	// 	}
	// },
	// "globals": {},
}