h1 {
	color: darkcyan;

	span {
		display: flex;
		align-items: center;
		position: relative;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 2px;
			background-color: crimson;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}